:root {
  --disponivel: #00915c;
  --disponivel-active: #105736;
  --disponivel-hover: #b650e6;
  --indisponivel: #cf2e2e;
  --indisponivel-hover: #f78da7;
  --dark-body: #4d4c5a;
  --dark-main: #141529;
  --dark-second: #79788c;
  --dark-hover: #323048;
  --dark-text: #f8fbff;

  --light-body: #f3f8fe;
  --light-main: #fdfdfd;
  --light-second: #c3c2c8;
  --light-hover: #edf0f5;
  --light-text: #151426;

  --blue: #0000ff;
  --white: #fff;

  --shadow: rgba(100, 100, 111, 0.5) 0px 5px 5px 0px;
  --shadow-hover: rgba(100, 100, 111, 0.5) 0px 6px 6px 2px;


}

.container-agendamento {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.container-agendamento .form-group,
.calendar {
  padding: 20px 20px;
}

.calendar {
  height: max-content;
  width: 100%;
  max-width: 500px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  color: var(--color-text);
  padding: 5px;
  margin-top: 3px;
  margin-bottom: 20px;
}


.calendar-week-day {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: 600;
  margin: 5px 0px;
}


.calendar-week-day div {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
}


.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}




.calendar-day-button {
  color: white;

  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 3px 0px;
  position: relative;
  background-color: gray;
  border-radius: 50px;
  animation: to-top 1s forwards;
}

.calendar-day-button.enabled {
  background-color: var(--disponivel);
}

.calendar-day-button.selected.enabled {
  background-color: var(--bs-purple);
}

.calendar-day-button:hover.enabled {
  background-color: var(--disponivel-hover);
  transition: 0.1s;
  box-shadow: var(--shadow);
  cursor: pointer;
}


.calendar-days div:empty {
  background-color: var(--bg-main);
}

.year-picker {
  display: flex;
  align-items: center;
}

.year-change {
  background-color: whitesmoke;
  box-shadow: var(--shadow);
  height: 40px;
  width: 40px;
  border-radius: 50px;
  display: grid;
  place-items: center;
  margin: 0 25px;
  cursor: pointer;
  transition: 0.2s;
}

.year-change:hover {
  box-shadow: var(--shadow-hover);
}

.calendar-footer {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-footer-item {
  display: flex;
  flex-direction: row;
  margin: 2px 10px;
}


.legend {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: bold;
  justify-content: center;
}

.circle {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-inline: 5px;

}

.circle span {
  margin-left: 30px;
}


.disponivel {
  background-color: var(--disponivel);
}

.cheio {
  background-color: var(--indisponivel);
}

.indisponivel {
  background-color: #4d4c5a;
}


.month-list {
  font-weight: bold;
  transform: scale(1);
  pointer-events: visible;
  z-index: 1000;
  margin-bottom: 30px;
  margin-right: 30px;
}


#overlay-month-list {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

.btn-mes{
  padding: 2vh 2vw;
  font-weight: bold;
}

.diaCheio {
  background-color: var(--indisponivel);
}

.diaIndisponivel {
  background-color: #4d4c5a;
}


@keyframes to-top {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}






/* responsividade */
@media only screen and (max-width: 768px) {

  .container-agendamento {

    flex-direction: column-reverse;

  }

}

@media only screen and (min-width: 1600px) {

  .card-agendamentos{
    max-width: 85%;
  }

}